/*func font-size*/
._text(@font-size,@line-height){
  font-size: @font-size;
  line-height: @line-height;
}

/*func size*/
._size(@width,@height){
  width: @width;
  height: @height;
}
._size(@width){
  width: @width;
  height: @width;
}

@font-color: #333333;
@red: #ef5350;
@red-dark: #d50000;
@gray: #484848;
@gray-dark: #353535;
@gray-light: #f1f1f1;
@teal: #26a69a;
@green: #66bb6a;
@blue: #13aec1;
@orange: #ff7043;
@pink: #ec407a;

.bg-teal { background: @teal; }
.bg-green { background: @green; }
.bg-blue { background: @blue; }
.bg-orange { background: @orange; }
.bg-pink { background: @pink; }
.bg-red { background: @red; }


body { font-family: 'Roboto', sans-serif; font-weight: 300; ._text(14px,1.5); padding-top: 60px; color: @font-color; }
.block-h { ._text(28px,1.3); font-weight: 300; margin: 0 0 30px 0; padding-top: 2px; }
.block-h-icon { padding: 2px 0 4px 50px; background: url(/images/svg/lifebuoy.svg) 0 0 no-repeat; background-size: 39px; }

.navbar-brand { padding-top: 0; padding-bottom: 0; .clearfix; height: 60px; }
.navbar-brand span { display: block; background: @red; ._size(60px); float: left; margin-right: 8px; }
.navbar-brand:hover span { background: @gray; }
.navbar-brand span .svg { display: block; ._size(48px); margin: 5px 6px; }
.navbar-brand span + .svg { display: block; ._size(130px,48px); float: left; margin-top: 5px; }

.navbar-collapse { float: right; }

.navbar-toggle { margin: 12px 0 0 0; background: #fff; border-radius: 0; position: absolute; right: 15px; top: 0; }

.navbar-default { background: @gray; border: none; }
.navbar-default .navbar-nav > li > a { color: #fff !important; ._text(20px,1.1); padding: 16px 20px 22px; }
.navbar-default .navbar-nav > li > a:hover { background: @red; color: #fff; }
.navbar-default .navbar-toggle .icon-bar { background-color: @gray; }

.subfooter { background: @gray; padding: 80px 0; color: #fff; text-align: center; }
.subfooter .block-h { margin-bottom: 40px; }
.subfooter a { display: inline-block; margin-top: 30px; }
.subfooter a:hover { opacity: 0.85; }

.footer { background: @gray-dark; padding: 38px 0 30px; color: #fff; }
.footer a { color: #fff; text-decoration: underline; }
.footer a:hover { text-decoration: none; }
.footer p { color: #f4f4f4; }
.footer .col-xxs-12 a:hover { opacity: 0.85; }
.footer-donate { display: block; margin-bottom: 4px; }
.footer-donate input { outline: none !important; }
.footer-donate input:hover { opacity: 0.85; }

.home-banner { background: @gray-light; padding: 50px 0; }
.home-banner h1 { font-weight: 300; ._text(70px,1.1); margin: 30px 0 40px 0; }
.home-banner h1 strong { font-weight: 400; }
.home-banner h2 { ._text(44px,1.4); font-weight: 300; margin: 0; }
.home-banner p { ._text(28px,1.6); }
.home-banner .svg { max-width: 330px; }
.home-banner .svg path { fill: @red; }

.home-l { padding: 40px 0 80px 0; }
.home-li { padding-top: 40px; }
.home-li-img { ._size(85px); display: block; box-sizing: border-box; margin-top: 10px; padding: 20px; float: left; margin-right: 20px; }
.home-li:last-child .home-li-img { padding: 25px 15px; }
.home-li-img .svg { display: block; margin: 0 auto; }
.home-li-txt { overflow: hidden; }
.home-li h2 { margin: 0 0 8px; }
.home-li h2 a { color: #000; text-decoration: underline; }
.home-li h2 a:hover { color: #000; text-decoration: none; }
.home-li h3 { font-weight: 300; ._text(20px,1.4); margin: 0 0 2px; }


@media (max-width: 1500px){
  .github { display: none; }
}

@media (max-width: 1199px){
  .navbar-default .navbar-nav > li > a { ._text(18px,1.1); padding: 18px 15px 23px; }
  .home-banner h1 { margin-top: 0; }
}

@media (max-width: 991px){
  .h-sm-40 { margin-top: 40px; }
  .navbar-collapse { float: left; }
  body { padding-top: 120px; }
}

@media (max-width: 767px){
  body { padding-top: 60px; }
  .home-banner { padding: 30px 0; }
  .home-banner h1 { ._text(40px,1.1); margin-bottom: 20px; }
  .home-banner h2 { ._text(28px,1.2); }
  .home-banner p { ._text(14px,1.5); }
  .navbar-nav { margin: 0; }
  .navbar-collapse { clear: both; margin: 20px 0 !important; border: none !important; box-shadow: none; width: 100%; padding: 0 !important; }
  .navbar-default .navbar-nav > li > a { padding: 8px 15px 12px; ._text(18px,1.1); }
  .home-l { padding: 0 0 40px 0; }
  .subfooter { padding: 40px 0; }
}

@media (max-width: 600px){
  .home-banner .col-xxs-12.col-xs-3 { display: none; }
  .col-xxs-12 { width: 100%; }
  .h-xxs-20 { margin-top: 20px; }
}